body
{
  background-color: black;
}
#Form_Div
{
  margin-top: 10px;
  background-image: url(https://thumbs.spee.ch/view/e/5208714f171896de.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color:goldenrod;
}
.Gender_Input
{
  margin-left: 20px;
}
.check_input
{
  margin-top: 10px;
}
span
{
  color:red
}